.bootstrap-tagsinput {
    width: 100%;
    height: 200%;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.twitter-typeahead .tt-hint
{
    display: none;
}

.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.tt-suggestion:hover,
.tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

#submit {
    margin-top: 3px;
    background-color: #007d9f;
    border:0;

}

.header {
    font-family: Helvetica;
    font-size: 3em;
    font-weight: 700;
}

.container {
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-right: 15%;
}

.header-img {
    float: left;
    width: 15%;
    height: 15%;
    margin-right:2%;
}

.input-title {
    font-family: Helvetica;
    font-size: 1.3em;
    font-weight:600;
    margin-bottom:2%;
}

.query-type {
    font-family: Helvetica;
}
